<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>data of index3</title>
</head>
<body>
	<div id="container">
		<h2>data of index3</h2>
		<ul class="dataList">
			<li><%= setData.name %></li>
			<li><%= setData.psd %></li>
			<li><%= setData.rpsd %></li>
			<li><%= setData.email %></li>
			<li><%= setData.phone %></li>
			<li><%= setData.path %></li>
			<li><img src="<%= setData.host %><%= setData.path %>" alt=""></li>
			<li>
				<%= setData.md5 %>
			</li>
		</ul>
	</div>
</body>
</html>