<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>show-upload</title>
</head>
<body>
	<div id="container">
		<h3><%= title %></h3>
		<div class="show-msg">
			<ul>
				<li><p><%= nameS %></p></li>
				<li><p><%= psdS %></p></li>
				<li><p><%= rpsdS %></p></li>
				<li><p><%= emailS %></p></li>
				<li><p><%= phoneS %></p></li>
				<li><img src="<%= resP %>" alt="" width="50" heihgt="50"></li>
				<li><a href="<%= resP %>">img path</a></li>
				<li><%= resP %></li>
			</ul>
		</div>
	</div>
</body>
</html>